.post-detail-container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    padding: 0 10%;
    /* Espaçamento de 10% nas laterais */
}

.post-content {
    flex: 2;
}

.post-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-title {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.post-description {
    margin-bottom: 10px;
    /* Reduzido o espaço abaixo da descrição */
    text-align: left;
}

.post-text {
    margin-top: 20px;
    text-align: justify;
}

.recommended-posts {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Alinha o container à direita */
}

.recommended-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinha o texto dentro do card à esquerda */
    transition: transform 0.2s;
    cursor: pointer;
}

.recommended-card:hover {
    transform: scale(1.05);
}

.recommended-card img {
    width: 100%;
    /* Ajusta a largura da imagem */
    border-radius: 10px;
}

@media (max-width: 768px) {
    .post-detail-container {
        flex-direction: column;
    }

    .recommended-posts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        /* Alinha os cards recomendados à direita */
    }

    .recommended-card {
        width: 90%;
        /* Mantém uma largura de 90% para dispositivos móveis */
        max-width: 300px;
        /* Limita a largura máxima dos cards recomendados */
    }
}