.custom-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.custom-card:hover {
    transform: scale(1.05);
}

.card-title {
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.card-footer {
    display: flex;
    align-items: center;
}

.card-footer div {
    margin-left: 10px; 
}